* {
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    font-family: 'sans-serif';
}

h1 {    
    max-width: 65%;
    margin: 0 auto;
    background-color: yellow;
    color: blue;
}
p {
    margin: 0 auto;
    max-width: 65%;
}
