* {
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
}
.center-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
h1 {
    background-color: aqua;
    color: blue;
}
p {
    max-width: 65%;
}
